@external .gwt-Label;

.b-app-header-title {
    font-family: Arial;
    font-size: 34px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    cursor: pointer;
}

.b-app-header {
    font-family: Arial;
    font-size: 21px;
    color: #666666;
    padding-left: 10px;
    border-left: 2px solid #999999;
    display: table-cell;
}

.b-app-footer {
    font-family: Arial; 
    font-size: 12px;
    color: #666666; 
}

.b-app-footer a, a:hover, a:visited {
    color: #666666;
}

.b-app-header-menu {
    font-family: Arial;
    font-size: 13px;
    color: #666666;
    font-weight: bold;
    padding: 0 25px;
    cursor:pointer;
}

.b-app-header-menu .caret {
    margin-left: 0;
    margin-top: 8px;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

.b-nav-panel {
	box-sizing: border-box;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
    height: 100%;
    float: left;
    display: inline-block;
    word-wrap: break-word;
}

.b-nav-label {
    width: 20px;
    cursor: pointer;
    float:right;
    position: relative;
    text-align: center;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #444;
    font-wight: bold;
    margin-top: 5px;
}

.b-nav-content {
    overflow-y: auto;
    float: left;
}

.b-app-navigator {
    padding-top: 8px;
    overflow: auto;
}

.b-app-navigator a {
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    cursor:pointer;
    color: #666666;
    position: relative;
    clear: left;
    float: left;
    width: 100%;
    margin-bottom:
    1px;
    padding: 10px 0 10px 25px;
}

.b-app-navigator a:hover {
    background-color: #FFFFFF;
}

.b-app-navigator .b-current {
    color: #000000;
    background-color: #FFFFFF;
    border-left: 10px solid #4B9BCC;
    padding-left: 15px;
}

.b-app-sub-navigator .b-current {
    font-weight: bold;
    background-color: #EFEFEF;
}

.b-app-sub-navigator a:hover {
    background-color: #EFEFEF;
}

.b-app-content-close {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    height: 100%;
    margin-left: 20px;
}

.b-app-sub-header {
    background-color: #EFEFEF;
    border-bottom: 2px solid #CCCCCC;
}

.b-app-sub-header-title {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: #4D6C85;
    padding-left: 20px;
    padding-right: 10px;
}

.b-app-sub-header-text {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #4D6C85;
}

.b-app-sub-content {
    background-color: #FFFFFF;
    border-left: 5px solid #CCCCCC;
}

.b-app-padded-panel {
    padding-left: 30px;
}

.b-app-content-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    padding-left: 30px;
    word-break: break-all;
}

.b-app-content-sub-title {
    font-family: Arial;
    font-size: 18px;
    color: #666666;
    padding-left: 35px;
}

.b-app-content-notes {
    font-family: Arial;
    font-size: 13px;
    color: #666666;
    padding-left: 35px;
}

.b-app-content-details-table {
    padding-left: 35px;
    padding-top: 5px;
}

.b-app-content-details-table td{
    vertical-align: top;
}

.b-app-content-details-table .gwt-Label {
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.b-app-content-details-table .b-app-content-title-label {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #4D6C85;
}

.b-app-content-details-table .secondary {
    font-weight: normal;
}

.linkLabel {
    overflow:visible; /* Shrinkwrap the text in IE7- */
    margin:0;
    padding:0;
    border:0;
/*    color:#666666; /* Match your link colour */
    background:transparent;
    font:inherit; /* Inherit font settings (doesn�t work in IE7-) */
    line-height:normal; /* Override line-height to avoid spacing issues */
    text-decoration:underline; /* Make it look linky */
    cursor:pointer; /* Buttons don�t make the cursor change in all browsers */
    -moz-user-select:text; /* Make button text selectable in Gecko */
    font-size: 11px;
}
/* Make sure keyboard users get visual feedback */
.linkLabel:hover,
.linkLabel:focus {
    text-decoration:underline;
    color: #000000;
}
/* Remove mystery padding in Gecko browsers.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
 */
.linkLabel:-moz-focus-inner {
    padding:0;
    border:0;
}

.b-app-back-button,  .b-app-back-button:hover {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    color: #444444;
    padding: 2px 10px;
}

.b-app-back-button:hover {
    background: #CCCCCC;
    border-color: #AAAAAA;
}

.b-app-back-button:after {
    content: "<";
    font-weight: bold;
    font-size: 23px;
}

.b-app-back-button-header {
    background: #F5F5F5;
}

.b-app-back-button-panel {
    padding-left: 10px;
}

.b-app-button-small {
    padding: 4px 14px;
    font-size: 14px;
    font-weight: bold;
}

.b-app-cell-button, .b-app-cell-button:hover {
    padding: 4px 10px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    color: #444444;
}

.b-app-cell-button:hover {
    background: #CCCCCC;
    border-color: #AAAAAA;
}

.b-app-cell-button-small, .b-app-cell-button-small:hover {
    padding: 2px 6px;
    font-size: 14px;
}

.actionPopup {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3.01px 3.01px 3.01px 3.01px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    background-color: #FFF;
}

.loginPanel {
    /*background-color: #e7eef9;*/

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid gray;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 1px 1px 4px #444444;
    -moz-box-shadow: 1px 1px 4px #444444;
    box-shadow: 1px 1px 4px #444444;

    padding: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.loginPanel h1 {
    color: #666666;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    text-align: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loginButton {
    background: linear-gradient(to bottom, #4D90FE 0px, #4787ED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.loginButton:hover {
    background: linear-gradient(to bottom, #4D90FE 0px, #357AE8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.deleteButton {
	background: #d94b4b;
}

.deleteButton:hover {
	background: #cc4b4b;
}

.deleteButton:active {
	background: #c47575;
}

.button-margin-left {
	margin-left: 300px;
	margin-right: 35px;
}


