@def content-background-color #F5F5F5;
@def selection-color #0088CC;
@def horizontal-menu-selected-color #0088CC;
@def tab-border-color #CCCCCC;
@def common-font-size 14px;

th {
    white-space: normal !important;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

body {
    background: none repeat scroll 0 0 content-background-color;
    border: 0 none;
    color: #333333;
    direction: ltr;
    margin: 10px;
    padding: 0;

}

body, table td, select, button {
    font-family: Arial,sans-serif;
    font-size: common-font-size;
    line-height: 1.42857;
}

pre {
    font-family: "courier new",courier;
    font-size: 12px;
}

button
{
  margin: 0px;
  padding: 0px;
}

/* Firefox button padding fix */
button::-moz-focus-inner
{
  border: 0;
  padding: 0;
}

.b-app-header-title {
    font-family: Arial;
    font-size: 34px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    cursor: pointer;
}

.b-app-header {
    font-family: Arial;
    font-size: 21px;
    color: #666666;
    padding-left: 10px;
    border-left: 2px solid #999999;
    display: table-cell;
}

.b-app-header-menu {
    font-family: Arial;
    font-size: 13px;
    color: #666666;
    font-weight: bold;
    padding: 0 25px;
    cursor:pointer;
}

.b-app-header-menu .caret {
    margin-left: 0;
    margin-top: 8px;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

.b-nav-panel {
	border-top: 1px solid #CCCCCC;
    height: 100%;
    float: left;
    display: inline-block;
}

.b-nav-label {
    width: 20px;
    cursor: pointer;
    float:right;
    position: relative;
    text-align: center;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #444;
    font-wight: bold;
    margin-top: 5px;
}

.b-nav-content {
    overflow-y: auto;
    float: left;
}

.b-app-navigator {
    padding-top: 8px;
    overflow: auto;
}

.b-app-navigator a {
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    cursor:pointer;
    color: #666666;
    position: relative;
    clear: left;
    float: left;
    width: 100%;
    margin-bottom:
    1px;
    padding: 10px 0 10px 25px;
}

.b-app-navigator a:hover {
    background-color: #FFFFFF;
}

.b-app-navigator .b-current {
    color: #000000;
    background-color: #FFFFFF;
    border-left: 10px solid #4B9BCC;
    padding-left: 15px;
}

.b-app-sub-navigator .b-current {
    font-weight: bold;
    background-color: #EFEFEF;
}

.b-app-sub-navigator a:hover {
    background-color: #EFEFEF;
}

.b-app-content-close {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    height: 100%;
    margin-left: 20px;
}

.b-app-sub-header {
    background-color: #EFEFEF;
    border-bottom: 2px solid #CCCCCC;
}

.b-app-sub-header-title {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: #4D6C85;
    padding-left: 20px;
    padding-right: 10px;
}

.b-app-sub-header-text {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #4D6C85;
}

.b-app-sub-content {
    background-color: #FFFFFF;
    border-left: 5px solid #CCCCCC;
}

.b-app-padded-panel {
    padding-left: 30px;
}

.b-app-content-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    padding-left: 30px;
}

.b-app-content-sub-title {
    font-family: Arial;
    font-size: 18px;
    color: #666666;
    padding-left: 35px;
}

.b-app-content-notes {
    font-family: Arial;
    font-size: 13px;
    color: #666666;
    padding-left: 35px;
}

.b-app-content-details-table {
    padding-left: 35px;
    padding-top: 5px;
}

.b-app-content-details-table td{
    vertical-align: top;
}

.b-app-content-details-table .gwt-Label {
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.b-app-content-details-table .b-app-content-title-label {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #4D6C85;
}

.b-app-content-details-table .secondary {
    font-weight: normal;
}

.linkLabel {
    overflow:visible; /* Shrinkwrap the text in IE7- */
    margin:0;
    padding:0;
    border:0;
/*    color:#666666; /* Match your link colour */
    background:transparent;
    font:inherit; /* Inherit font settings (doesn�t work in IE7-) */
    line-height:normal; /* Override line-height to avoid spacing issues */
    text-decoration:underline; /* Make it look linky */
    cursor:pointer; /* Buttons don�t make the cursor change in all browsers */
    -moz-user-select:text; /* Make button text selectable in Gecko */
    font-size: 11px;
}
/* Make sure keyboard users get visual feedback */
.linkLabel:hover,
.linkLabel:focus {
    text-decoration:underline;
    color: #000000;
}
/* Remove mystery padding in Gecko browsers.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
 */
.linkLabel:-moz-focus-inner {
    padding:0;
    border:0;
}


.gwt-Button, .gwt-ToggleButton {
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-variant: normal;
    font-weight: normal;
/*    height: 2.14286em;*/
    line-height: 1.42857;
    margin: 0;
    padding: 8px 30px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    background: #4B9BCC;
}

.gwt-Button:hover, .gwt-ToggleButton:hover {
    border: none;
    border-radius: 0px;
    background: #0088CC;
    text-decoration: none;
}

.gwt-Button[disabled], .gwt-ToggleButton[disabled] {
    border: none;
    border-radius: 0px;
    cursor: default;
    background: #CCCCCC;
    color: #FFFFFF;
}

.gwt-Button[disabled]:hover, .gwt-ToggleButton[disabled]:hover {
    border: none;
    border-radius: 0px;
}

.gwt-Button:active, .gwt-ToggleButton:active, .gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering {
    background-color: #85A6CC;
    background-image: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
    text-decoration: none;
    text-shadow: none;
}

.b-app-back-button,  .b-app-back-button:hover {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    color: #444444;
    padding: 2px 10px;
}

.b-app-back-button:hover {
    background: #CCCCCC;
    border-color: #AAAAAA;
}

.b-app-back-button:after {
    content: "<";
    font-weight: bold;
    font-size: 23px;
}

.b-app-back-button-header {
    background: #F5F5F5;
}

.b-app-back-button-panel {
    padding-left: 10px;
}

.b-app-button-small {
    padding: 4px 14px;
    font-size: 14px;
    font-weight: bold;
}

.b-app-cell-button, .b-app-cell-button:hover {
    padding: 4px 10px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    color: #444444;
}

.b-app-cell-button:hover {
    background: #CCCCCC;
    border-color: #AAAAAA;
}

.b-app-cell-button-small, .b-app-cell-button-small:hover {
    padding: 2px 6px;
    font-size: 14px;
}

.actionPopup {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3.01px 3.01px 3.01px 3.01px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    background-color: #FFF;
}

.gwt-MenuBar .gwt-MenuItem, .gwt-MenuItemLabel, .gwt-MenuItemContainer {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.42857;
}

.gwt-MenuBar .gwt-MenuItem, .gwt-MenuItemContainer {
    cursor: pointer;
}

.gwt-MenuBar .gwt-MenuItemLabel {
    font-weight: bold;
}

.gwt-MenuBar-horizontal {
    background: none repeat scroll 0 0 selection-color;
    border-bottom-color: selection-color;
    color: #FFFFFF;
}

.gwt-MenuBar-horizontal .gwt-MenuItem, .gwt-MenuItemLabel, .gwt-MenuItemContainer {
    color: #FFFFFF;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 10px 10px;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
    font-weight: normal;
}

.gwt-MenuBar-horizontal .gwt-MenuItemLabel {
    font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemLabel .gwt-Label {
    color: #FFFFFF;
}

.gwt-MenuBar-horizontal .gwt-MenuItemContainer {
}

.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
    background: none repeat scroll 0 0 horizontal-menu-selected-color;
    color: #F0F0F0;
}

.gwt-MenuBar-horizontal .gwt-MenuItemLabel-selected {
}

.gwt-MenuBar-horizontal .gwt-MenuItemContainer-selected {
}

.gwt-MenuBar-vertical .gwt-MenuItem {
    padding: 3px 40px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-selected {
    background: none repeat scroll 0 0 selection-color;
    color: #FFFFFF;
}

.gwt-Label {
    color: #666666;
}

.gwt-DisclosurePanel .header td {
    color: #666666;
}

.gwt-DialogBox .Caption {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #D2D2D2;
    cursor: default;
    font-family: Arial,sans-serif;
    font-weight: bold;
/*    padding: 4px 8px 4px 4px;*/
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gwt-DialogBox .Bottom {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #BBBBBB;
    cursor: default;
    font-family: Arial,sans-serif;
    font-weight: bold;
/*    padding: 4px 8px 4px 4px;*/
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gwt-DialogBox .Caption h2 {
    color: #333333;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@if !user.agent ie6 {
  @sprite .gwt-DialogBox .dialogBottomLeft {
    gwt-image:'circles';
    background-position: -28px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogBottomRight {
    gwt-image:'circles';
    background-position: -18px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogTopLeft {
    gwt-image:'circles';
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogTopRight {
    gwt-image:'circles';
    background-position: -28px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogMiddleLeft {
    gwt-image:'vborder';
    background-position: -31px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogMiddleRight {
    gwt-image:'vborder';
    background-position: -32px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
}
@else {
  @sprite .gwt-DialogBox .dialogBottomLeft {
    gwt-image:'circles_ie6';
    background-position: -28px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogBottomRight {
    gwt-image:'circles_ie6';
    background-position: -18px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogTopLeft {
    gwt-image:'circles_ie6';
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogTopRight {
    gwt-image:'circles_ie6';
    background-position: -28px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogMiddleLeft {
    gwt-image:'vborder_ie6';
    background-position: -31px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogMiddleRight {
    gwt-image:'vborder_ie6';
    background-position: -32px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
}

.gwt-DialogBox .dialogBottomCenter {
    background: none;
}

.gwt-DialogBox .dialogContent {
    padding: 20px;
}

.loginPanel {
    /*background-color: #e7eef9;*/

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid gray;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 1px 1px 4px #444444;
    -moz-box-shadow: 1px 1px 4px #444444;
    box-shadow: 1px 1px 4px #444444;

    padding: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.loginPanel h1 {
    color: #666666;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    text-align: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loginButton {
    background: linear-gradient(to bottom, #4D90FE 0px, #4787ED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.loginButton:hover {
    background: linear-gradient(to bottom, #4D90FE 0px, #357AE8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.button-margin-left {
	margin-left: 300px;
	margin-right: 35px;
}


