@def content-background-color #F5F5F5;
@def selection-color #0088CC;
@def horizontal-menu-selected-color #0088CC;
@def tab-border-color #CCCCCC;
@def common-font-size 14px;

th {
    white-space: normal !important;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

body {
    background: none repeat scroll 0 0 content-background-color;
    border: 0 none;
    color: #333333;
    direction: ltr;
    margin: 10px;
    padding: 0;

}

body, table td, select, button {
    font-family: Arial,sans-serif;
    font-size: common-font-size;
    line-height: 1.42857;
}

pre {
    font-family: "courier new",courier;
    font-size: 12px;
}

button
{
  margin: 0px;
  padding: 0px;
}

/* Firefox button padding fix */
button::-moz-focus-inner
{
  border: 0;
  padding: 0;
}

.b-app-header-title {
    font-family: Arial;
    font-size: 34px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    cursor: pointer;
}

.b-app-header {
    font-family: Arial;
    font-size: 21px;
    color: #666666;
    padding-left: 10px;
    border-left: 2px solid #999999;
    display: table-cell;
}

.b-app-header-menu {
    font-family: Arial;
    font-size: 13px;
    color: #666666;
    font-weight: bold;
    padding: 0 25px;
    cursor:pointer;
}

.b-app-header-menu .caret {
    margin-left: 0;
    margin-top: 8px;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}

.b-nav-panel {
	border-top: 1px solid #CCCCCC;
    height: 100%;
    float: left;
    display: inline-block;
}

.b-nav-label {
    width: 20px;
    cursor: pointer;
    float:right;
    position: relative;
    text-align: center;
    border-color: #CCC;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #444;
    font-wight: bold;
    margin-top: 5px;
}

.b-nav-content {
    overflow-y: auto;
    float: left;
}

.b-app-navigator {
    padding-top: 8px;
    overflow: auto;
}

.b-app-navigator a {
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    cursor:pointer;
    color: #666666;
    position: relative;
    clear: left;
    float: left;
    width: 100%;
    margin-bottom:
    1px;
    padding: 10px 0 10px 25px;
}

.b-app-navigator a:hover {
    background-color: #FFFFFF;
}

.b-app-navigator .b-current {
    color: #000000;
    background-color: #FFFFFF;
    border-left: 10px solid #4B9BCC;
    padding-left: 15px;
}

.b-app-sub-navigator .b-current {
    font-weight: bold;
    background-color: #EFEFEF;
}

.b-app-sub-navigator a:hover {
    background-color: #EFEFEF;
}

.b-app-content {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    height: 100%;
	display: flex;
}

.b-app-content-close {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    height: 100%;
    margin-left: 20px;
}

.b-app-sub-header {
    background-color: #EFEFEF;
    border-bottom: 2px solid #CCCCCC;
}

.b-app-sub-header-title {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: #4D6C85;
    padding-left: 20px;
    padding-right: 10px;
}

.b-app-sub-header-text {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #4D6C85;
}

.b-app-sub-content {
    background-color: #FFFFFF;
    border-left: 5px solid #CCCCCC;
}

.b-app-padded-panel {
    padding-left: 30px;
}

.b-app-buttons-panel {
    padding-left: 20px;
    border-spacing: 15px;
}

.b-app-content-title {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    padding-left: 30px;
}

.b-app-content-sub-title {
    font-family: Arial;
    font-size: 18px;
    color: #666666;
    padding-left: 35px;
}

.b-app-content-notes {
    font-family: Arial;
    font-size: 13px;
    color: #666666;
    padding-left: 35px;
}

.b-app-field-notes {
    font-family: Arial;
    font-size: 13px;
    color: #666666;
}

.b-app-content-details-table {
    padding-left: 35px;
    padding-top: 5px;
}

.b-app-content-details-table td{
    vertical-align: top;
}

.b-app-content-details-table .gwt-Label {
    font-family: Arial;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.b-app-content-details-table .b-app-content-title-label {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    color: #4D6C85;
}

.b-app-content-details-table .secondary {
    font-weight: normal;
}

.required:after {
    content: " *";
    font-size: 16px;
    color: #CC0000;
    font-weight: bold;
}

.b-app-content-details-table input, textarea {
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
    background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.b-app-content-details-table input:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.LinkCell {
    overflow:visible; /* Shrinkwrap the text in IE7- */
    margin:0;
    padding:0;
    border:0;
/*    color:#666666; /* Match your link colour */
    background:transparent;
    font:inherit; /* Inherit font settings (doesn’t work in IE7-) */
    line-height:normal; /* Override line-height to avoid spacing issues */
    text-decoration:none; /* Make it look linky */
    cursor:pointer; /* Buttons don’t make the cursor change in all browsers */
    -moz-user-select:text; /* Make button text selectable in Gecko */
    text-decoration: none;
}
/* Make sure keyboard users get visual feedback */
.LinkCell:hover,
.LinkCell:focus {
    text-decoration:none;
}
/* Remove mystery padding in Gecko browsers.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
 */
.LinkCell::-moz-focus-inner {
    padding:0;
    border:0;
}

.linkLabel {
    overflow:visible; /* Shrinkwrap the text in IE7- */
    margin:0;
    padding:0;
    border:0;
/*    color:#666666; /* Match your link colour */
    background:transparent;
    font:inherit; /* Inherit font settings (doesn�t work in IE7-) */
    line-height:normal; /* Override line-height to avoid spacing issues */
    text-decoration:underline; /* Make it look linky */
    cursor:pointer; /* Buttons don�t make the cursor change in all browsers */
    -moz-user-select:text; /* Make button text selectable in Gecko */
    font-size: 11px;
}
/* Make sure keyboard users get visual feedback */
.linkLabel:hover,
.linkLabel:focus {
    text-decoration:underline;
    color: #000000;
}
/* Remove mystery padding in Gecko browsers.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
 */
.linkLabel:-moz-focus-inner {
    padding:0;
    border:0;
}


.gwt-Button, .gwt-ToggleButton {
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    font-variant: normal;
    font-weight: normal;
/*    height: 2.14286em;*/
    line-height: 1.42857;
    margin: 0;
    padding: 8px 30px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    background: #4B9BCC;
}

.gwt-Button:hover, .gwt-ToggleButton:hover {
    border: none;
    border-radius: 0px;
    background: #0088CC;
    text-decoration: none;
}

.gwt-Button[disabled], .gwt-ToggleButton[disabled] {
    border: none;
    border-radius: 0px;
    cursor: default;
    background: #CCCCCC;
    color: #FFFFFF;
}

.gwt-Button[disabled]:hover, .gwt-ToggleButton[disabled]:hover {
    border: none;
    border-radius: 0px;
}

.gwt-Button:active, .gwt-ToggleButton:active, .gwt-ToggleButton-down, .gwt-ToggleButton-down-hovering {
    background-color: #85A6CC;
    background-image: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
    text-decoration: none;
    text-shadow: none;
}

.b-app-back-button,  .b-app-back-button:hover {
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    color: #444444;
    padding: 2px 10px;
}

.b-app-back-button:hover {
    background: #CCCCCC;
    border-color: #AAAAAA;
}

.b-app-back-button:after {
    content: "<";
    font-weight: bold;
    font-size: 23px;
}

.b-app-back-button-header {
    background: #F5F5F5;
}

.b-app-back-button-panel {
    padding-left: 10px;
}

.b-app-button-small {
    padding: 4px 14px;
    font-size: 14px;
    font-weight: bold;
}

.b-app-cell-button, .b-app-cell-button:hover {
    padding: 4px 10px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    color: #444444;
}

.b-app-cell-button:hover {
    background: #CCCCCC;
    border-color: #AAAAAA;
}

.b-app-cell-button-small, .b-app-cell-button-small:hover {
    padding: 2px 6px;
    font-size: 14px;
}

.actionPopup {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3.01px 3.01px 3.01px 3.01px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    background-color: #FFF;
}

.gwt-MenuBar .gwt-MenuItem, .gwt-MenuItemLabel, .gwt-MenuItemContainer {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.42857;
}

.gwt-MenuBar .gwt-MenuItem, .gwt-MenuItemContainer {
    cursor: pointer;
}

.gwt-MenuBar .gwt-MenuItemLabel {
    font-weight: bold;
}

.gwt-MenuBar-horizontal {
    background: none repeat scroll 0 0 selection-color;
    border-bottom-color: selection-color;
    color: #FFFFFF;
}

.gwt-MenuBar-horizontal .gwt-MenuItem, .gwt-MenuItemLabel, .gwt-MenuItemContainer {
    color: #FFFFFF;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 10px 10px;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
    font-weight: normal;
}

.gwt-MenuBar-horizontal .gwt-MenuItemLabel {
    font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemLabel .gwt-Label {
    color: #FFFFFF;
}

.gwt-MenuBar-horizontal .gwt-MenuItemContainer {
}

.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
    background: none repeat scroll 0 0 horizontal-menu-selected-color;
    color: #F0F0F0;
}

.gwt-MenuBar-horizontal .gwt-MenuItemLabel-selected {
}

.gwt-MenuBar-horizontal .gwt-MenuItemContainer-selected {
}

.gwt-MenuBar-vertical .gwt-MenuItem {
    padding: 3px 40px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-selected {
    background: none repeat scroll 0 0 selection-color;
    color: #FFFFFF;
}

.gwt-Label {
                                          color: #666666;
}

.gwt-DisclosurePanel .header td {
    color: #666666;
}

.gwt-DialogBox .Caption {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #D2D2D2;
    cursor: default;
    font-family: Arial,sans-serif;
    font-weight: bold;
/*    padding: 4px 8px 4px 4px;*/
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gwt-DialogBox .Bottom {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #BBBBBB;
    cursor: default;
    font-family: Arial,sans-serif;
    font-weight: bold;
/*    padding: 4px 8px 4px 4px;*/
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gwt-DialogBox .Caption h2 {
    color: #333333;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@if !user.agent ie6 {
  @sprite .gwt-DialogBox .dialogBottomLeft {
    gwt-image:'circles';
    background-position: -28px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogBottomRight {
    gwt-image:'circles';
    background-position: -18px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogTopLeft {
    gwt-image:'circles';
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogTopRight {
    gwt-image:'circles';
    background-position: -28px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogMiddleLeft {
    gwt-image:'vborder';
    background-position: -31px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogMiddleRight {
    gwt-image:'vborder';
    background-position: -32px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
}
@else {
  @sprite .gwt-DialogBox .dialogBottomLeft {
    gwt-image:'circles_ie6';
    background-position: -28px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogBottomRight {
    gwt-image:'circles_ie6';
    background-position: -18px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogTopLeft {
    gwt-image:'circles_ie6';
    background-position: -20px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogTopRight {
    gwt-image:'circles_ie6';
    background-position: -28px 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
  
  @sprite .gwt-DialogBox .dialogMiddleLeft {
    gwt-image:'vborder_ie6';
    background-position: -31px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }

  @sprite .gwt-DialogBox .dialogMiddleRight {
    gwt-image:'vborder_ie6';
    background-position: -32px 0;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-color: transparent;
    width: 0;
    height: 0;
  }
}


/* .gwt-DialogBox .dialogBottomLeft { */
/*     background: url("img/circles.png") repeat-y scroll -28px 0 transparent; */
/*     -background: url("img/circles_ie6.png") repeat-y scroll -28px 0 transparent; */
/*     -webkit-transform: rotate(180deg); */
/*     -moz-transform: rotate(180deg); */
/*     -ms-transform: rotate(180deg); */
/*     -o-transform: rotate(180deg); */
/*     transform: rotate(180deg); */
/* } */

/* .gwt-DialogBox .dialogBottomRight { */
/*     background: url("img/circles.png") no-repeat scroll -18px 0 transparent; */
/*     -background: url("img/circles_ie6.png") no-repeat scroll -18px 0 transparent; */
/*     -webkit-transform: rotate(180deg); */
/*     -moz-transform: rotate(180deg); */
/*     -ms-transform: rotate(180deg); */
/*     -o-transform: rotate(180deg); */
/*     transform: rotate(180deg); */
/* } */

.gwt-DialogBox .dialogBottomCenter {
    background: none;
}

.gwt-DialogBox .dialogContent {
    padding: 20px;
}

.ui-message {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    margin: 10px 0 0;
    padding: 10px 10px 10px 36px;
    position: relative;
}

.b-app-content .ui-message {
    margin: 0 35px 0;
}

.ui-message.info {
    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #8C9FB2;
}

.ui-message.warning {
    background: none repeat scroll 0 0 #FFFDF6;
    border-color: #FFEAAE;
}

.ui-message.error {
    background: none repeat scroll 0 0 #D04437;
    border-color: #D04437;
    color: #FFFFFF;
}

.ui-message.success {
    background: none repeat scroll 0 0 #F3F9F4;
    border-color: #91C89C;
}
.ui-message.hint {
    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #AAB8C6;
}


.ui-message .ui-icon {
    left: 10px;
    position: absolute;
    top: 12px;
}

.ui-message .icon-hint, .ui-icon-hint, .ui-message .icon-info, .ui-icon-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA1klEQVR42qWTUQqCQBCGfdKCuogu+qBeoot0kl7TBwU9S3QLyega9ZBh1L/wLyyDLGkLHzj/vzPM7o6eXLv9IQRH0IMnuVAL7b0y0QcVeIPPFPQasJ5KPlkbW5CDFcmpGf8MfLtATeMGEqObBCuOwJV6ZYsjxVhrsoDQEuojiLRQmLa9H5d1nEIHPYOMvrMD6hm9XgcDg2BGgYDesLTAlt596RFSep3jEp0FWnqlDtTMZ4ytZ1SuQZJLDlLtGuUGpNQ3/G7kKP/5M7nbLNnqCzxAR03J/V+HSh9XtOsatQAAAABJRU5ErkJggg==");
}

.ui-message .icon-warning, .ui-icon-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABA0lEQVR42p2QP0tCURiH7zdQRA3u4OJUiyDY4CDtTuEXuXs0JEQ4uDk5C0EuKoEu+SWcg5baLCS7tNTx98IzyMWjXoeHe95/z3vODdzi2kdTvIo30fL1+YbLIhYOfsV5GsFAOL59zsNjBRfij60lEXKbf1E5RvDExl4URYGwXJfc6JCgwqZYhBp2hs5n4odadZ9gzKYu2x1YrUPt2SeosWEtijsEBfGN5HKXYErxweKkAMk9PbOkoE5hJXI+AbUVvfVtwZzkHTECAGptel8cgisSnyJDk+8GRlZ8MdOwxITghoa9ArhlZmzB+/abDjwh+c8+LBgRnMLEBHnxKJYpBpfMFDbGjWcGPFD11gAAAABJRU5ErkJggg==");
}

.ui-message .icon-error, .ui-icon-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAzUlEQVR42q2T3QqCQBBGvcqCehETvVBfM71QsGeJ3kIyeo260DC2b+CThoVdsFo44JzdGfZnDIwxNhE4gB4M5EIX2et1sAI1eBnH4FwLNnOeTj6phUdQgDUp6OZxlhxdoOHEDaSAnuMT78GVrhY3y4kyEekqQFK6SXJFlGrbgbcAUccpJegZ5AsK5PS9BCODcEGBkH78tsCO/u4+gp+MOd2vl1hJEC98xkQ9Y+xvJOJopMbXyi3I6Lf8bu1W/uvPZG+z4laf4AE6uthe/wbkrGRlM25n9wAAAABJRU5ErkJggg==");
}

.ui-message .icon-success, .ui-icon-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA9klEQVR42qWTPQrCQBSErfwBhRQewDoGFYyHtDEWCSSVR8gBRDxCGjFi4xEstFBR4jyYYnmuK5LAB/vmzexuNpuGfvrzwAcLUIIb2VPzTa8ONkEMXqCywV4KOrbw2jBmYAbaZEatIhvJmBMkbBzB2LHLITjQG5vik+Ko8eORBeh9SlaEiELmCHmgACvWGTORFCWL8Et4IGF6TtRC1qUUdxYtNiOB4wk4s18Aj3qL2v1jAiOQ28L09Khf1CuoVS1heqbs7ayHyEm2INdhdYhLKYI/P+PI+IxBnYuUuK5yCqbUuxyn+irX/Jnc21xyqw9wBTtqgfa/Af067eG0xhemAAAAAElFTkSuQmCC");
}

.ui-icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    border: medium none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: -999em;
    vertical-align: text-bottom;
    width: 16px;
}

.icon-required, .ui-icon-required {
    position: absolute;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAXklEQVR42u3MsQ2AIBSEYZnHAVjACZzkNUxA6yCOY2HhNnoXn6EggVxjRfHnQh75pmOJX/e7JTPrxo8JRQK+SQUyugj4ZhUIaCPgG1RgRida0c63ClQpQOs4gAH8Bzy5KFqGk8PBaQAAAABJRU5ErkJggg==");
}

.loginPanel {
    /*background-color: #e7eef9;*/

    background: none repeat scroll 0 0 #FFFFFF;

    border: 1px solid gray;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 1px 1px 4px #444444;
    -moz-box-shadow: 1px 1px 4px #444444;
    box-shadow: 1px 1px 4px #444444;

    padding: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.loginPanel h1 {
    color: #666666;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    text-align: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loginButton {
    background: linear-gradient(to bottom, #4D90FE 0px, #4787ED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.loginButton:hover {
    background: linear-gradient(to bottom, #4D90FE 0px, #357AE8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.button-margin-left {
	margin-left: 300px;
	margin-right: 35px;
}


