.appFooterPanel {
    box-shadow: inset 8px 0px 8px -8px rgba(0,0,0,0.5);
}

.appFooter {
    font-size: 12px;
    color: #666666; 
}

.appFooter a, .appFooter a:hover, .appFooter a:visited {
    color: #666666;
}

.appPaddedPanel {
	padding-left: 30px;
}

.appContentTitle {
    color: #666;
    font-size: 30px;
    font-weight: normal;
    padding-left: 25px;
}

.appBackButton,  .appBackButton:hover {
	border: 1px solid #CCCCCC;
	background: #EEEEEE;
	color: #444444;
	padding: 2px 10px;
}

.appBackButton:hover {
	background: #CCCCCC;
	border-color: #AAAAAA;
}

.appBackButton:after {
    content: "<";
    font-weight: bold;
    font-size: 23px;
}

.appHeaderPanel {
    box-shadow: inset 8px 0px 8px -8px rgba(0,0,0,0.5);
}

.appHeaderPanel .title {
    font-size: 34px; 
    font-weight: bold; 
    color: #666666; 
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    display: inline-block;
}

.appHeaderPanel .buttons {
    padding-right: 20px;
}

.appHeaderPanel .buttons .button {
    border-left: 1px solid #CCCCCC;
    font-size: 16px; 
    color: #666666; 
    font-weight: bold; 
    cursor: pointer;
    line-height: 60px;
    display: inline-block;
    background-color: transparent;
    transition: background-color 0.5s ease;
    width: 100%;
}

.appHeaderPanel .buttons .buttonLast {
    border-right: 1px solid #CCCCCC;
}

.appHeaderPanel .buttons .button:hover {
    transition: background-color 0.2s ease;
    background-color: #E5E5E5;
}

.appHeaderPanel .buttons .button span {
    display: inline-block;
    vertical-align: middle;
}

.leftPanelContainer {
    height: 100%;
    float: left;
    display: flex;
}

.contentContainer {
    height: 100%;
    display: flex;
}

.leftPanel {
    height: 100%;
    float: left;
    display: flex;
    width: 235px;
    margin-left: -200px;
    transition: margin-left .3s;
}

.leftPanel.isOpen {
    margin-left: 0px;
}

.leftPanel .title {
    color: #FFF;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.leftPanel .toggle {
    padding: 5px;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

.leftPanel .toggle::before {
    content: '\f0c9';
    font: 30px fontawesome;
}

.navPrimary {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navPrimary ul {
    margin-top: 0px;
}

.navPrimary li {
    line-height: 1.5;
    white-space: nowrap;
}

.navPrimary ul.nav > li.active > a {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.05) !important;
    text-shadow: none;
}

.navPrimary ul.nav > li > a {
    padding: 11px 50px 11px 15px;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.05);
    transition: color 0.3s ease-in-out 0s;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navPrimary li > a > span.icon {
    margin: -12px 10px -12px -15px;
    line-height: 44px;
    width: 44px;
    height: 44px;
    float: left;
    font-size: 14px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.navPrimary li>a>span.icon>b {
  position: absolute;
  left: -42px;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: left .25s;
  transition: left .25s;
}

.navPrimary ul.nav > li.active > a > span.icon > b {
    left: 0px !important;
}

.navPrimary ul.nav > li.active > a > span.icon {
    color: #FFF;
}

.navPrimary ul.nav>li:hover>a, .navPrimary ul.nav>li:focus>a, .navPrimary ul.nav>li>a:hover, .navPrimary ul.nav>li>a:focus, .navPrimary ul.nav>li>a:active, .navPrimary ul.nav>li.active>a {
    color: #fff;
    background-color: inherit;
    background-color: rgba(0, 0, 0, 0.05) !important;
    text-shadow: none;
}

.navPrimary ul.nav>li:hover>a>span.icon>b, .navPrimary ul.nav>li:focus>a>span.icon>b, .navPrimary ul.nav>li>a:hover>span.icon>b, .navPrimary ul.nav>li>a:focus>span.icon>b, .navPrimary ul.nav>li>a:active>span.icon>b, .navPrimary ul.nav>li.active>a>span.icon>b {
    left: 0 !important;
}

.navPrimary * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navPrimary *:before, .navPrimary *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navPrimary li > a > span.icon {
    line-height: 44px;
    font-size: 14px;
    text-align: center;
}

.navPrimary li > a > span.icon > img {
    vertical-align: middle;
    position: relative;
    z-index: 2;
    margin-top: -3px;
}

.navPrimary a {
    color: #2E3E4E;
    text-decoration: none;
    background: none repeat scroll 0% 0% transparent;
    cursor: pointer;
}

.navPrimary .fa {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: outside none none;
}

.nav > li {
    position: relative;
    display: block;
}

.button .caret:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 4px;
    vertical-align: middle;
    width: 0;
}

.actionPopup {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3.01px 3.01px 3.01px 3.01px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    background-color: #FFF;
}

.contentPanel {
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.contentTitleLabel {
    color: #666;
    font-size: 24px;
    font-weight: normal;
}

.contentLabel {
	font-weight: bold;
	font-size: 16px;
	padding-right: 5px;
}

.descriptionLabel {
	padding-top: 5px;
	color: #666;
    font-size: 16px;
    font-weight: normal;
}

.demoProjectsWidget {
	width: 100%;
	display: block;
	margin-left: -5px;
}

.demoProjectWidget {
	width: 190px;
	margin: 10px;
	display: inline-block;
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    -webkit-box-shadow: 1px 1px 8px #888;
    -moz-box-shadow: 1px 1px 8px #888;
    box-shadow: 1px 1px 8px #888;
}

.demoProjectWidget .details {
	cursor: pointer;

	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.demoProjectWidget .platformImageHover {
	position: absolute;
	top: 0;
	transition: background-color 0.5s ease;
    background-color: transparent;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
		
.demoProjectWidget .platformImageHover:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0.15);
}

.demoProjectWidget .detailsInnerTop {
    padding: 15px 15px 10px 15px; 
}

.demoProjectWidget .detailsInnerCenter {
    padding: 0px 15px 0px 15px; 
}

.demoProjectWidget .detailsInnerBottom  {
	padding: 10px 15px 15px 15px; 
}

.demoProjectWidget .titlePanel {
	height: 48px;
}

.demoProjectWidget .title {
	position: relative;
    width: 160px;
	color: #666;
    font-size: 20px;
    font-variant: normal;
    font-weight: normal;
    line-height: 24px;
    overflow: hidden;
    display: block;
    white-space: normal;
    text-align: center;
} 

.demoProjectWidget .action {
	padding: 4px 8px;
    font-size: 14px;
    background: transparent;
    border: 1.5px solid #DDD;
	color: #555;
    font-variant: normal;
    font-weight: normal;
}

.demoProjectWidget .action:hover {
	background: #EEE;
}

.demoProjectWidget .action:active {
    background: #AAA;
}

.consoleArea {
	min-height: 200px;
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	font-size: 12px;
    color: #D3D3D3;
    background: #181818;
    letter-spacing: 1px;
    border:1px solid #999999;
    padding: 10px;
}

.bgDark {
    background-color: #41586e;
    color: #9db1c5;
}

.bgDark .nav>li>a {
  color: #adbece;
}

.bgFeatureConfig {
	background-color: #096;
}

.bgFeatureDataCollection {
    background-color: #22948D;
}

.bgFeatureEvent {
    background-color: #FFBA00;
}

.bgFeatureNotification {
    background-color: #FF950C;
}

.bgFeatureProfiling {
    background-color: #46A8BA;
}

.bgFeatureUserVerifier {
    background-color: #7E396D;
}

.bgPlatformCommon {
    background-color: #46A8BA;
}

.projectDetails {
    color: #666;
    font-size: 14px;
    font-weight: normal;
}

.projectDetails h2 {
	font-size: 16px;
	font-weight: bold;
}

.projectDetails h3 {
    font-size: 14px;
    font-weight: bold;
}

.projectDetails pre {
	border: solid 1px #CCC;
	font-size: 12px;
	padding: 8px;
}
