output/**
*.class
*.iml
*/.idea/**
.idea/**
.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
tmp_deb_control/
tmp_rpm_control/
tmp_dao_resources/
tmp_sh/
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
server/common/server-shared/src/main/java/org/kaaproject/kaa/server/common/Version.java
server/admin/src/main/java/org/kaaproject/kaa/server/admin/shared/Version.java
sandbox/web/src/main/java/org/kaaproject/kaa/sandbox/web/shared/Version.java
pom.xml.versionsBackup
examples/*/source/lib/
examples/*/source/java/lib/
server/common/dao/src/main/resources/dao.properties
server/common/dao/src/main/resources/sql-dao.properties
server/node/src/main/resources/admin-dao.properties
build/
DerivedData
Pods/

**/Podfile.lock
!Manifest.lock

.DS_Store
*~
*.swp
*.rbc

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!default.xcworkspace
xcuserdata
*.xccheckout
!scripts/profile
*.moved-aside
*.hmap
*.ipa
Tests/Pods
**/.toDelete
/test-gh-pages-current/
