output/**
*.class
*.iml
*/.idea/**
.idea/**
.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
tmp_deb_control/
tmp_rpm_control/
tmp_dao_resources/
tmp_sh/
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
server/common/server-shared/src/main/java/org/kaaproject/kaa/server/common/Version.java
server/admin/src/main/java/org/kaaproject/kaa/server/admin/shared/Version.java
sandbox/web/src/main/java/org/kaaproject/kaa/sandbox/web/shared/Version.java
pom.xml.versionsBackup
.DS_Store
