.swagger-section #message-bar{
	min-height: initial;
	padding-top: 0;
}

.swagger-section .swagger-ui-wrap{
	max-width: initial;
}

.swagger-section .swagger-ui-wrap a{
	color: #f7ad41;
}

#resources, .endpoints{
	padding-left: 0;
}

#resources_container{
	padding-left: 0;
	padding-right: 0;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a{
	font-size: 12.96px;
	font-weight: 400;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options{
	margin: 38px 10px 0 0;
}

.sandbox_header .submit{
	color: #000;
	padding: 4px 6px;
}

.swagger-section .swagger-ui-wrap .model-signature .description div{
	font-size: 16px;
}

.container{
	width: 100%;
    max-width: 1160px;
}

table, th, td, tr, tr:nth-child(even){
	outline: none;
	background: none;
}

p, li{
	font-size: 12.96px;
}

.swagger-section .swagger-ui-wrap .model-signature .description div, .swagger-section .swagger-ui-wrap table tbody tr td{
	font-size: 12.96px;
}

.container .footer{
	height: initial;
}

.container .footer h4{
	font-size: 14px;
	margin: 0;
}

.footer p{
	font-size: 16px;
}
