
    short methodId = METHOD_${methodId}_ID;
    MessageFuture<${messageOutputType}> future = new MessageFuture<${messageOutputType}>(new VoidMessage(methodId), this);
    pushFuture(future);
    return future;
