
    byte[] payload;
    try {
        payload = ${messageInputTypeConverter}.get().toByteArray(param);
    } catch (IOException cause) {
        throw new RuntimeException("Failed to encode request parameter", cause);
    }
    short methodId = METHOD_${methodId}_ID;
    MessageFuture<Void> future = new MessageFuture<Void>(new EntityMessage(payload, methodId), this);
    pushFuture(future);
    return future;
