<?xml version="1.0" encoding="UTF-8" ?>
<!--

     Copyright 2014-2016 CyberVision, Inc.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.

-->

<configuration>
    <appender name="fileLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <if condition='isDefined("server_log_sufix")'>
            <then>
                 <file>${server_log_dir:-./logs}/kaa-node${server_log_sufix}.log</file>
            </then>
            <else>
                 <file>${server_log_dir:-./logs}/kaa-node.log</file>
            </else>    
        </if>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${server_log_dir}/kaa-operations-server${server_log_sufix}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.kaaproject.kaa" level="INFO"/>
    <logger name="org.kaaproject.kaa.metrics" level="WARN"/>
    <!-- <logger name="org.kaaproject.kaa.server" level="TRACE"/> -->
    <logger name="org.kaaproject.kaa.server" level="INFO"/>
    <logger name="org.kaaproject.kaa.server.hash" level="WARN"/>
    <logger name="org.kaaproject.kaa.server.bootstrap.service.DefaultOperationsServerListService" level="WARN"/>
    <logger name="org.kaaproject.kaa.server.operations.service.statistics" level="WARN"/>
    <logger name="org.kaaproject.kaa.server.operations.service.event" level="WARN"/>
    <logger name="org.kaaproject.kaa.server.thrift" level="WARN"/>
    <logger name="org.kaaproject.kaa.server.common.Environment" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.spring4gwt.server" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="fileLogAppender"/>
    </root>

</configuration>
