<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2014 CyberVision, Inc.
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kaaproject.kaa.demo.smarthousedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    
  <uses-feature android:name="android.hardware.camera" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
 
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
  <uses-feature android:name="android.hardware.screen.landscape"/>
  <uses-feature android:name="android.hardware.wifi" android:required="false"/>
  <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
  <uses-feature android:name="android.hardware.touchscreen"/>
    
  <supports-screens android:xlargeScreens="true"
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="true"
                    android:anyDensity="true"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmartHouseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/smart_house"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.kaaproject.kaa.demo.smarthousedemo.SMART_HOUSE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThermostatActivity"
            android:hardwareAccelerated="false"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/thermostat"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/FullScreenDeviceTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.kaaproject.kaa.demo.smarthousedemo.SMART_HOUSE" />
            </intent-filter>
        </activity>
<!--         <activity -->
<!--             android:name=".TvActivity" -->
<!--             android:configChanges="keyboardHidden|orientation|screenSize" -->
<!--             android:label="@string/tv" -->
<!--             android:launchMode="singleTop" -->
<!--             android:clearTaskOnLaunch="true" -->
<!--             android:stateNotNeeded="true" -->
<!--             android:theme="@style/FullScreenDeviceTheme" -->
<!--             android:windowSoftInputMode="stateAlwaysHidden" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="org.kaaproject.kaa.demo.smarthousedemo.SMART_HOUSE" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->
        <activity
            android:name=".SoundSystemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:label="@string/sound_system"
            android:launchMode="singleTop"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/FullScreenDeviceTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="org.kaaproject.kaa.demo.smarthousedemo.SMART_HOUSE" />
            </intent-filter>
        </activity>
<!--         <activity -->
<!--             android:name=".LampActivity" -->
<!--             android:configChanges="keyboardHidden|orientation|screenSize" -->
<!--             android:label="@string/lamp" -->
<!--             android:launchMode="singleTop" -->
<!--             android:clearTaskOnLaunch="true" -->
<!--             android:stateNotNeeded="true" -->
<!--             android:theme="@style/FullScreenDeviceTheme" -->
<!--             android:windowSoftInputMode="stateAlwaysHidden" > -->
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="org.kaaproject.kaa.demo.smarthousedemo.SMART_HOUSE" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/login"
            android:launchMode="singleTop" >
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity android:name="org.kaaproject.kaa.demo.qrcode.QrCodeCaptureActivity"
              android:screenOrientation="sensorLandscape"
              android:clearTaskOnLaunch="true"
              android:stateNotNeeded="true"
              android:theme="@style/QrCaptureTheme"
              android:windowSoftInputMode="stateAlwaysHidden"/>        
    </application>
    

</manifest>
