#*
 * Copyright 2014-2016 CyberVision, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

#set ($ENUM_NAME = $StyleUtils.toUpperUnderScore($schema.getName()))
#set ($enum_name = $StyleUtils.toLowerUnderScore($schema.getName()))

#set ($PREFIX = $StyleUtils.toUpperUnderScore($namespacePrefix))
#set ($prefix = $StyleUtils.toLowerUnderScore($namespacePrefix))
typedef enum {
#foreach ($symbol in $symbols)
    ENUM_${ENUM_NAME}_$symbol,
#end
} ${prefix}_${enum_name}_t;

#ifdef GENC_ENUM_DEFINE_ALIASES
#foreach ($symbol in $symbols)
\#define $symbol ENUM_${ENUM_NAME}_$symbol
#end
# endif // GENC_ENUM_DEFINE_ALIASES

#ifdef GENC_ENUM_STRING_LITERALS
#set($sym_count = $symbols.size())
const char* ${PREFIX}_${ENUM_NAME}_SYMBOLS[$sym_count] = {
#foreach ($symbol in $symbols)
    "${symbol}"#set($sym_count = $sym_count - 1)#if ($sym_count > 0),
#end
#end
};
# endif // GENC_ENUM_STRING_LITERALS

