<table id="{{include.table_id}}" class="display" style="width:{{include.width}}"></table>

<script src="{{ site.baseurl }}/public/js/jquery.csv.min.js"></script>
<script src="{{ site.baseurl }}/public/js/generateTable.js"></script>
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.3.0/dist/showdown.min.js"></script>

<script>
$.get('{{include.csv_path}}', function(rawdata) {
var data = $.csv.toArrays(rawdata)
var html = generateTable(data)
$('#{{include.table_id}}').append(html)
});
</script>

