/*
 * Copyright 2014 CyberVision, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "kaa/KaaDefaults.hpp"

#include <algorithm>

#include <boost/cstdint.hpp>

#include "kaa/channel/server/HttpServerInfo.hpp"
#include "kaa/channel/server/HttpLPServerInfo.hpp"
#include "kaa/channel/server/KaaTcpServerInfo.hpp"

namespace kaa {

const char * const BUILD_VERSION = "%{build.version}";

const char * const BUILD_COMMIT_HASH = "%{build.commit_hash}";

const char * const APPLICATION_TOKEN = "%{application.token}";

const boost::uint32_t PROFILE_VERSION = %{application.profile_version};

const boost::uint32_t CONFIG_VERSION = %{application.config_version};

const char * const CLIENT_PUB_KEY_LOCATION = "%{application.public_key_location}";

const char * const CLIENT_PRIV_KEY_LOCATION = "%{application.private_key_location}";

const char * const CLIENT_STATUS_FILE_LOCATION = "%{application.status_file_location}";

const boost::uint32_t POLLING_PERIOD_SECONDS = %{application.polling_period_seconds};

const boost::uint32_t SYSTEM_NF_VERSION = %{system_notification_version};

const boost::uint32_t USER_NF_VERSION = %{user_notification_version};

const boost::uint32_t LOG_SCHEMA_VERSION = %{log_schema_version};

static IServerInfoPtr createServerInfo(const int& channelType
                                     , const std::string& host
                                     , const boost::uint16_t& port
                                     , const std::string& encodedPublicKey)
{
    IServerInfoPtr serverInfo;

    switch (channelType) {
    case 0: // HTTTP
        serverInfo.reset(new HttpServerInfo(
                ServerType::BOOTSTRAP, host, port, encodedPublicKey));
        break;
    case 1: // HTTTP LP
        serverInfo.reset(new HttpLPServerInfo(
                ServerType::BOOTSTRAP, host, port, encodedPublicKey));
        break;
    case 2: // Kaa TCP
        serverInfo.reset(new KaaTcpServerInfo(
                ServerType::BOOTSTRAP, host, port, encodedPublicKey));
        break;
    default:
        break;
    }

    return serverInfo;
}

const BootstrapServers& getServerInfoList() {
    /* Default value for unit test */
    static BootstrapServers listOfServers = { %{bootstrap_servers_info} };
    std::random_shuffle(listOfServers.begin(), listOfServers.end());
    return listOfServers;
}

const Botan::SecureVector<boost::uint8_t>& getDefaultConfigData() {
    static const Botan::SecureVector<boost::uint8_t> configData = Botan::base64_decode("%{config.data.default}");
    return configData;
}

const std::string& getDefaultConfigSchema() {
    static const std::string configSchema = "%{config.schema.default}";
    return configSchema;
}

const EventClassFamilyVersionInfos& getEventClassFamilyVersionInfo() {
    static const EventClassFamilyVersionInfos versions = %{event.family_version};/* = {{"familyName1",1}, {"familyName2",3}};*/
    return versions;
}

}