<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
<div class="announcement-banner"
     style="display: flex; align-items: center; min-width: 100%; background-color: rgb(38, 39, 40); border: 1px solid rgb(38, 39, 40);">
  <div style="width: 100%; display: flex;  margin-top: 10px; margin-bottom: 10px">
    <div style="width: 100%; margin-left: 58px; display: flex; position: relative; align-items: center; justify-content: center;">
      <div class="announcement-banner__content">
        <div style="width: 100%; color: #fff; font-size: 18px">
          <div style="text-align: center; font-size: 22px">Kaa Enterprise documentation is <a href="https://docs.kaaiot.io"
                                                                                              style="font-weight: bold; letter-spacing: normal; color: #faae43; text-decoration: underline;">here</a>.</div>
          <div style="text-align: center">This is old generation Kaa 0.x platform documentation.</div>
          Next generation
          <a href="https://docs.kaaiot.io/DOC/docs/current/Welcome/"
             style="font-weight: bold; letter-spacing: normal; color: #faae43; text-decoration: underline;">Kaa
            Enterprise IoT platform</a> is now available!
          <a href="https://www.kaaproject.org/request-free-trial/"
             style="font-weight: bold; letter-spacing: normal; color: #faae43; text-decoration: underline;">
            Try it free with a 30-days trial.</a></div>
      </div>
    </div>
  </div>
</div>
  <div class="row row-full row-offcanvas row-offcanvas-left">
    {% include sidebar.html %}
    <div class="column col-sm-10 col-xs-11" id="main">
      <div id="split-bar">
        <div id="split-bar-dots">. . .</div>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row row-full content">
            {% if page.no_version_test %}
            {% else %}
              {% comment %}  HTML file can also be included for test `include test.html` {% endcomment %}
              {% capture test_version %}{% include test.md %}{% endcapture %}
              {{ test_version | markdownify }}
            {% endif %}
            {{ content }}
            {% if site.data.permanent_config.include_feedback %}
              {% if page.no_feedback %}
              {% else %}
                {% include feedback.html %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </div>
</body>
</html>
