#!/bin/bash

newHost=$1

function setNewHost() {

    propFile=$1
    property=$2

    sed -i "s/\(${property}=\).*\$/\1${newHost}/" ${propFile}

}

echo "Stopping services..."

${stop_services}

echo "Services stopped!"

echo "Setting services host/ip to ${newHost}"

${set_new_hosts}

echo "Starting services..."

${start_services}

echo "Waiting 10 sec for services startup..."

sleep 10

echo "Done!"
