@def selection-color #336699;
@def selectionBorderWidth 2px;

.dataGridHeader {
  font-family: Arial;
  border-bottom: 1px solid #DDDDDD;
  font-size: 12px;
  padding: 3px 15px;
  text-align: left;
  text-shadow: none;
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  
}

.dataGridCell {
  padding: 2px 15px;
  overflow: hidden;
  height: 20px;
  font-size: 12px;
  vertical-align: inherit !important;
}

